service cloud.firestore {
  match /databases/{database}/documents {
    function check() {
      return hasAny(
        resource.data.a,
        resource.data.b
      );
    }
  }
}
