service cloud.firestore {
  match /databases/{database}/documents {
    function ownerOf(logId) {
      return get(/databases/$(database)/documents/items/$(logId))
        .data.userId == request.auth.uid;
    }
  }
}
