service cloud.firestore {
  match /databases/{database}/documents {
    match /cities/{city} {
      allow read, write: if true;

      match /landmarks/{landmark} {
        allow read: if true;
      }
    }
  }
}
